<html>
<head>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/global.css">
<title> Angular Test </title>
</head>
<body ng-app = "myApp"></body>

<div ng-controller="mainController">
	<h1>{{city}} weather</h1>

	<p>Humidity: {{current.humidity}}%</p>
	<p>Pressure: {{current.pressure}}</p>
	<p>Temp: {{current.temp}}&deg;F</p>
	<p>Description: {{current.description}}</p>
	<div ng-repeat="result in location">
		<p>{{result.formatted_address}}</p>
	</div>
	<div ng-repeat="entry in forecast">
		<br/>
		<p>Date: {{entry.date}}</p>
		<p>Humidity: {{entry.humidity}}%</p>
		<p>Pressure: {{entry.pressure}}</p>
		<p>Temp: {{entry.temp}}&deg;F</p>
		<p>Description: {{entry.description}}</p>
	</div>
</div>


 <!-- Modules -->
    <script src="js/app.js"></script>
 
<!-- Controllers -->
	<script src="js/controllers/mainController.js"></script>


</html>